**/.vscode/**
!**/.vscode/settings.json

**/tmp/
**/venv/
**/dist/
**/*.swp
**/build/
**/htmlcov/
**/.pytest_cache/

*.pyc
*_cache
*pycache
.DS_Store
.coverage
!.gitkeep
.gitconfig
__pycache__
Pipfile.lock
